@{
    ViewData["Title"] = "Home Page";
}

<div>
   @using (Html.BeginForm("GetAttributes", "Home", FormMethod.Get))
   {
     @Html.TextBox("bc", "", new { @onchange = "this.form.submit()", @id = "capID" })   
   }

</div>

